<head>
    <meta charset='UTF-8' />
    <meta content='ie=edge' http-equiv='x-ua-compatible' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta property='og:site_name' content='Lindeneg' />
    <meta property='og:title' content='{{title}}' />
    <meta property='og:description' content='{{description}}' />
    <meta property='og:url' content='https://christian.lindeneg.org' />
    <meta property='og:type' content='website' />
    <meta name='twitter:title' content='Lindeneg' />
    <meta name='twitter:description' content='{{description}}' />
    <meta name='author' content='Christian Lindeneg' />
    <meta name='description' content='{{description}}' />
    <meta name='keywords' content='christian,lindeneg,web-development,blog,programming' />
    <link rel='canonical' href='https://christian.lindeneg.org' />
    <link rel='icon' href='https://christian.lindeneg.org/favicon.ico' />
    <title>{{title}}</title>
    <meta name='description' content='{{description}}' />
    {{#if pureCss}}
        <link rel='stylesheet' href='/lib/pure.min.css' />
        <link rel='stylesheet' href='/css/core.css' />
    {{/if}}
    {{#if js}}
        {{#each js}}
            <script async src='{{this}}'></script>
        {{/each}}
    {{/if}}
    {{#if css}}
        {{#each css}}
            <link rel='stylesheet' href='{{this}}' />
        {{/each}}
    {{/if}}
</head>