<!DOCTYPE html>
<html lang='en'>
{{> head
    title=metaTitle
    description=metaDescription
    pureCss=true
    css=(csvArray "/css/site.css")
}}

<body>
{{> nav
    leftEntries=leftNavEntries
    rightEntries=rightNavEntries
    activePageName=blogHref
    brandName=brandName
}}

<div class="blog-container">
        {{#if thumbPosts}}
        <div class="post-card-container">

        {{#each thumbPosts}}
        <a class="post-card" href="{{../blogHref}}/post/{{kebabCase this.title}}">
            <div class="post-card-inner">
                <div class="post-card-thumbnail" style="background-image:url({{this.thumbnail}})"></div>
                <div class="post-card-title">
                <h2>{{this.title}}</h2>
                <p>{{this.dateString}}</p>
                <div class="flex-spacer"> </div>
                </div>
            </div>
        </a>
       {{/each}}

        </div>

       {{else}}
       <h1>No Posts Found!</h1>

        {{/if}}
</div>

{{> footer }}

{{> analytics }}

</body>
</html>
